@font-face {
  font-family: 'verlag';
  src: url('public/fonts/verlag-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/verlag-book-webfont.woff') format('woff'),
  url('fonts/verlag-book-webfont.ttf')  format('truetype'),
  url('fonts/verlag-book-webfont.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: #ccc; /*Sets background colour to Grey*/
  padding:1rem; /*Adds padding around the whole webpage*/
  font-family: 'verlag';
  color: #6b6b6b;
}

header {
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
}

section {
  clear:left;
  padding-top: 1em;
}

footer {
  width:95vw;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  clear: left;
}

#pageheader {
  width:80vw;
  padding:1em;
  text-align:center;
  text-transform:capitalize;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  margin-bottom: 1em;
  overflow: hidden;
}

#textblock {
  width: 80vw;
  padding:1em;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  margin-bottom: 1em;
  clear:left;
}

#textblock p {

}

#textblock h3 {
  font-size: 1em;
  color:#E76E08;
}

#textblock h4 {
font-family: inherit;
}

#textblock blockquote {
  font-family: inherit;
  font-style: italic;
}

#textblock ul {
  list-style-type:circle;
}

#imageblock {
  width: 80vw;
  padding:1em;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  margin-bottom: 1vw;
  text-align: center;
}

#imageblock img {
  display:inline-block;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  width:25vw;
  Height:25vw;
}

#contactform {
  display:block;
  width: 80vw;
  padding: 3em;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  overflow-x: hidden;
}

#contactform input {
  width:70vw;
  margin:20px 0 20px 0;
  display: block;
  border: 1px solid #787878;
  vertical-align: bottom;
}

#contactform label {
  display:block;
}

#contactform button {
  display:block;
  margin: 1em;
  font-family: inherit;
}

#blog_container {
  border-style: groove;
  width: 70vw;
  padding:1em;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  margin-bottom: 1em;
}

#blog_container h3 {
  font-size: 1em;
  color:#E76E08;
}

#blog_post {
  width: 60vw;
  padding:1em;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  text-align: center;
}

#imageholder {
  width:80vw;
  /*padding:1em;*/
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  text-align: center;
}

#imageholder img{
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  padding:1em;
  border-style: groove;
}

.header-logo { /*Container for the logo in the header of the page*/
  width: auto;
  height: auto;
  max-height: 25vh;
  max-width: 50vw;
  float:left;
}

.main-image {
  display: inline-block;
  height: 70vh;
  width: 100%;
  background-image: url("/public/images/main_image.jpg");
  background-size: cover;
  background-position: 70% 10%; /*setting focus point of the image 70% Horizontal. 10% Vertical(Top Right)*/
}

.servicesiconscontainer { /*Controls the container that the services icons sit in*/
  display:inline-block;
  width:90%;
  float:none;
  margin:1em;
}

.servicesicons { /*Controls the size and spacing of the indiviual services media icon*/
  display:inline-block;
  height:auto;;
  width: calc( 33% - 4em );
  margin:2em;
}

.socialicons { /*Controls the size and spacing of the indiviual social media icon*/
  display:inline-block;
  height:3vw;
  width: 3vw;
  padding:1em;
}

.socialiconscontainer { /*Controls the container that the social icons sit in*/
  display:inline-block;
  float:right;
  margin:1em;
  clear:right;
}

.address { /* Styles the Postal Address on Contact Page*/
  text-indent:70px;
}

.address p {
  margin:0px;
}

#weddingpackagescontainer {
  width:40%;
  min-width: 300px;
  float:left;
  border: 1px solid;
  border-radius: 10px;
  margin:1em;
  padding:2em;
  text-align:center;
}

#weddingpackagescontainer li {
list-style: none;
}

#contactus {
padding-top: 2em;
text-align: center;
}

.contactusicon { /*Controls the size and spacing of the contact us icon*/
  width:30%;
}

#nav { /* Floats Nav to the right of the page with padding*/
  float:right;
  margin:1em;
  display:inline;
}

#nav li {
  float:left;
  list-style-type:none;
}

#nav li a {
  padding: 1em 1em;
  font-weight:bold;
  color: #000;
  color: rgba(255,255,255,0.7);
  text-shadow: 0 1vw 1vw rgba(0,0,0,0.5);
  text-decoration: none;
  -webkit-border-radius:1vw;
  -webkit-transition: all 0.3s ease-in-out;
}

#nav li a:hover, #nav li a:focus { /* Sets the hover and focus styles for the nav*/
  color: #fff;
  background: rgba(255,255,255, 0.15);
}

fieldset {
	border: 1px solid transparent;
	border-top: 1px solid rgba(0,0,0,0.2);
	padding: 0.5rem;
	margin: 0.5rem 0;
	overflow: hidden;
}
fieldset legend {
	padding: 0 1rem;
	font-size: 0.8rem;
	margin-left: 0rem;
	text-transform: uppercase;
	text-align: left;
}

fieldset label {
	text-transform: uppercase;
}

button,input {
  background: rgba(255,255,255,0.25);
  color: #777777;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: 'verlag';
  resize: none;
  vertical-align: bottom;
  font-size: 1rem;
}

@media screen and (max-width:347px) {
   #nav li {
    display:block;
    width:100%;
    margin: 0 0 0 5px;
    list-style-type:none;
    }
    .header-logo { /*Container for the logo in the header of the page*/
      width: auto;
      height: auto;
      max-height: 25vh;
      max-width: 90vw;
      float:left;
    }
    .socialiconscontainer { /*Controls the container that the social icons sit in*/
      width:90%;
      margin-left: auto;
      margin-right: auto;
      }
      .socialicons { /*Controls the size and spacing of the indiviual social media icon*/
        display:inline-block;
        height:12%;
        width: 12%;
        padding:0.5em;
        text-align: center;
      }
      .servicesiconscontainer { /*Controls the container that the services icons sit in*/
        display:block;
        width:100%;
        }
        .servicesicons { /*Controls the size and spacing of the indiviual services media icon*/
          display:inline-block;
          height:20%;
          width:20%;
        }
}

@media screen and (max-width:893px) {
  #weddingpackagescontainer {
    width:100%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .servicesiconscontainer { /*Controls the container that the services icons sit in*/
    display:block;
    width:100%;
    }
}
