@font-face {
  font-family: 'verlag';
  src: url('public/fonts/verlag-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/verlag-book-webfont.woff') format('woff'),
  url('fonts/verlag-book-webfont.ttf')  format('truetype'),
  url('fonts/verlag-book-webfont.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: #ccc; /*Sets background colour to Grey*/
  padding:2vw; /*Adds padding around the whole webpage*/
  font-family: 'verlag';
  color: #6b6b6b;
}

header {
  padding-top: 1vw;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
}

section {
  clear:left;
  padding-top: 1vw;
}

footer {
  width:95vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: center;
  clear: left;
}

#pageheader {
  width:80vw;
  padding:1vw;
  text-align:center;
  text-transform:capitalize;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  margin-bottom: 1vw;
  overflow: hidden;
}

#textblock {
  width: 80vw;
  padding:1vw;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  margin-bottom: 1vw;
}

#textblock p {

}

#textblock h3 {
  font-size: 1em;
  color:#E76E08;
}

#textblock h4 {
font-family: inherit;
}

#textblock blockquote {
  font-family: inherit;
  font-style: italic;
}

#imageblock {
  width: 80vw;
  padding:1vw;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  margin-bottom: 1vw;
}

#imageblock img {
  display:inline-block;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  padding:1vw;
  width:25vw;
  Height:25vw;
}

#contactform {
  display:block;
  width: 80vw;
  padding: 3vw;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  overflow-x: hidden;
}

#contactform input {
  width:50vw;
  margin:10px;
  display: block;
  border: 1px solid #787878;
  vertical-align: bottom;
}

#contactform label {
  display:block;
}

#contactform button {
  display:block;
  margin: 1vw;
  font-family: inherit;
}

#blog_container {
  border-style: groove;
  width: 70vw;
  padding:1vw;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  margin-bottom: 1vw;
}

#blog_post_title {
  width: 60vw;
  padding:1vw;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  text-align: center;
}

#blog_date {
  width: 60vw;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  text-align: center;
}

#blog_post {
  width: 60vw;
  padding:1vw;
  margin-right:auto; /*set right margin to center*/
  margin-left:auto; /*set left margin to center*/
  text-align: center;
}

.header-logo { /*Container for the logo in the header of the page*/
  width:50vw;
  float:left;
}

.main-image { /*Container for the main image on the homepage*/
  width:95vw;
}

.servicesiconscontainer { /*Controls the container that the services icons sit in*/
  display:inline;
  float:left;
  margin:1vw;
}

.servicesicons { /*Controls the size and spacing of the indiviual services media icon*/
  display:inline-block;
  height:21vw;
  width: 21vw;
  padding:2vw;
}

.socialicons { /*Controls the size and spacing of the indiviual social media icon*/
  display:inline-block;
  height:3vw;
  width: 3vw;
  padding:1vw;
}

.socialiconscontainer { /*Controls the container that the social icons sit in*/
  display:inline;
  float:right;
  margin:1vw;
}

.address { /* Styles the Postal Address on Contact Page*/
  text-indent:70px;
}

.address p {
  margin:0px;
}

#nav { /* Floats Nav to the right of the page with padding*/
  float:right;
  margin:1vw;
  display:inline;
}

#nav li {
  float:left;
  list-style-type:none;
}

#nav li a {
  padding: 1vw 1vw;
  font-weight:bold;
  color: #000;
  color: rgba(255,255,255,0.7);
  text-shadow: 0 1vw 1vw rgba(0,0,0,0.5);
  -webkit-border-radius:1vw;
  -webkit-transition: all 0.3s ease-in-out;
}

#nav li a:hover, #nav li a:focus { /* Sets the hover and focus styles for the nav*/
  color: #fff;
  background: rgba(255,255,255, 0.15);
}

fieldset {
	border: 1px solid transparent;
	border-top: 1px solid rgba(0,0,0,0.2);
	padding: 0.5rem;
	margin: 0.5rem 0;
	overflow: hidden;
}
fieldset legend {
	padding: 0 1rem;
	font-size: 0.8rem;
	margin-left: 0rem;
	text-transform: uppercase;
	text-align: left;
}

fieldset label {
	text-transform: uppercase;
}

@media screen and (max-width:470px) {
   #nav li {
    display:block;
    width:100%;
    margin: 0 0 0 5px;
    list-style-type:none;
    }
  .socialiconscontainer { /*Controls the container that the social icons sit in*/
    display:block;
    width:100%;
    }
    .servicesiconscontainer { /*Controls the container that the services icons sit in*/
      display:block;
      width:100%;
      }
}
